{% extends 'inmobiliaria/base.html' %}
{% load static %}
{% block title %}Inmobiliaria - Dashboard{% endblock %}
{% block content %}
<div class="content-wrapper">
    Mi nombre es: {{ user.nivel }}

    <h1 class="mb-4">Bienvenido al Dashboard de Inmobiliaria</h1>

    <div class="row mt-4">
        {% if user.nivel >= 3 %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vendedores</h5>
                    <p>Gestione la información de los vendedores.</p>
                    <a href="{% url 'inmobiliaria:vendedores' %}" class="btn btn-primary">Ir a Vendedores</a>
                   
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inquilinos</h5>
                    <p>Administre los datos de los inquilinos.</p>
                    <a href="{% url 'inmobiliaria:inquilinos' %}" class="btn btn-primary">Ir a Inquilinos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Propietarios</h5>
                    <p>Gestione la información de los propietarios.</p>
                    <a href="{% url 'inmobiliaria:propietarios' %}" class="btn btn-primary">Ir a Propietarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Propiedades</h5>
                    <p>Gestione la información de las propiedades.</p>
                    <a href="{% url 'inmobiliaria:propiedades' %}" class="btn btn-primary">Ir a Propiedades</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reservas</h5>
                    <p>Hacer reservas.</p>
                    <a href="{% url 'inmobiliaria:reservas' %}" class="btn btn-primary">Ir a Reservas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Operaciones</h5>
                    <p>Ver operaciones.</p>
                    <a href="{% url 'inmobiliaria:operaciones' %}" class="btn btn-primary">Ir a Operaciones</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
