{% extends 'inmobiliaria/base.html' %}
{% load static %}

{% block title %}{{ sucursal.nombre }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-building"></i>
                        {{ sucursal.nombre }}
                    </h3>
                    <div class="card-tools">
                        <a href="{% url 'inmobiliaria:sucursales' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Volver a Lista
                        </a>
                        <a href="{% url 'inmobiliaria:editar_sucursal' sucursal.id %}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                    </div>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <tr>
                                    <th width="30%">ID:</th>
                                    <td>{{ sucursal.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nombre:</th>
                                    <td>{{ sucursal.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Dirección:</th>
                                    <td>{{ sucursal.direccion|default:"No especificada" }}</td>
                                </tr>
                                <tr>
                                    <th>Teléfono:</th>
                                    <td>{{ sucursal.telefono|default:"No especificado" }}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ sucursal.email|default:"No especificado" }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
