{% extends 'inmobiliaria/base.html' %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Propiedades</title>
    
    <style>
    .property-card {
        transition: background-color 0.3s ease;
    }
    .property-card.card-confirmada {
        background-color: #ffcccc !important;
        border-color: #ff8888 !important;
    }
    #propiedadesTable tbody tr.table-active {
        background-color: #007bff;
        color: white;
    }


    </style>
</head>

{% block title %}Buscar Propiedades{% endblock %}

{% block content %}
<h1>Buscar Propiedades</h1>

<div class="row">
    <div class="col-md-8">
        <!-- Formulario para reservas por día -->
        <form method="post" id="buscar-propiedades-form-dia">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.fecha_inicio %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.fecha_fin %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.ambientes %}
                </div>
            </div>

            <button type="button" class="btn btn-secondary" id="toggle-filtros" onclick="mostrarOcultarFiltros()">Mostrar Filtros</button>
            <button type="button" class="btn btn-warning" id="reset-filtros" onclick="resetearFiltros()" style="display: none;">Resetear Filtros</button>

            <div id="filtros-completos" style="display: none;">
                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field form.tipo_inmueble %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.vista %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {% bootstrap_field form.precio_min %}
                    </div>
                    <div class="col-md-3">
                        {% bootstrap_field form.precio_max %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {% bootstrap_field form.valoracion %}
                    </div>
                </div>
                <h4>Características adicionales</h4>
                <div class="row">
                    <div class="col-md-3">
                        {% bootstrap_field form.amoblado %}
                        {% bootstrap_field form.cochera %}
                        {% bootstrap_field form.tv_smart %}
                    </div>
                    <div class="col-md-3">
                        {% bootstrap_field form.wifi %}
                        {% bootstrap_field form.dependencia %}
                        {% bootstrap_field form.patio %}
                    </div>
                    <div class="col-md-3">
                        {% bootstrap_field form.parrilla %}
                        {% bootstrap_field form.piscina %}
                        {% bootstrap_field form.reciclado %}
                    </div>
                    <div class="col-md-3">
                        {% bootstrap_field form.a_estrenar %}
                        {% bootstrap_field form.terraza %}
                        {% bootstrap_field form.balcon %}
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>

        {% if propiedades_disponibles %}
        <h3 class="text-center mt-4">Propiedades Disponibles del {{ fecha_inicio }} al {{ fecha_fin }}</h3>
        <table id="propiedadesTable" class="table table-hover">
            <thead>
                <tr>
                    <th>ID Propiedad</th>
                    <th>Disponibilidad más cercana</th>
                    <th>Dirección</th>
                    <th>Piso</th>
                    <th>Dpto</th>
                    <th>Propietario</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for propiedad in propiedades_disponibles %}
                {% if propiedad.estado_reserva == 'confirmada_no_pagada' %}
                <tr data-index="{{ forloop.counter0 }}" onclick="seleccionarPropiedad(
                    '{{ propiedad.direccion|escapejs }}',
                    '{{ propiedad.propietario.nombre|escapejs }}',
                    '{{ propiedad.disponibilidad }}',
                    '{{ propiedad.precio_total_reserva }}',
                    '{{ propiedad.id }}',
                    '{{ fecha_inicio }}',
                    '{{ fecha_fin }}',
                    '{{ propiedad.estado_reserva }}',
                    '{{ propiedad.reserva.id }}'
                )">
                   <td style="color: red;">{{ propiedad.id }}</td>
                   <td style="color: red;">
                    Reservado del {{propiedad.disponibilidad_inicio | date:"d/m/Y"}} al {{propiedad.disponibilidad_fin | date:"d/m/Y"}}
                    </td>
                    <td style="color: red;">{{ propiedad.direccion }}</td>
                    <td style="color: red;">{{ propiedad.piso }}</td>
                    <td style="color: red;"> {{propiedad.dpto }}</td>
                    <td style="color: red;">{{ propiedad.propietario.nombre }}</td>
                    <td style="color: red;">{{ propiedad.precio_total_reserva }}</td>
                    
                </tr>
               
                {% else %}
                <tr data-index="{{ forloop.counter0 }}" onclick="seleccionarPropiedad('{{ propiedad.direccion|escapejs }}', '{{ propiedad.propietario.nombre|escapejs }}', '{{ propiedad.disponibilidad }}','{{ propiedad.precio_total_reserva }}','{{ propiedad.id }}',  '{{ fecha_inicio }}', '{{ fecha_fin }}', '{{ propiedad.estado_reserva }}')">
                    <td>{{ propiedad.id }}</td>
                    <td>
                        
                            {{propiedad.disponibilidad_inicio | date:"d/m/Y"}} al {{propiedad.disponibilidad_fin | date:"d/m/Y"}}
                           
                    </td>
                    <td>{{ propiedad.direccion }}</td>
                    <td>{{ propiedad.piso }}</td>
                    <td>{{ propiedad.dpto }}</td>
                    <td>{{ propiedad.propietario.nombre }}</td>
                    <td>{{ propiedad.precio_total_reserva }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-warning text-center mt-4">
                No hay propiedades disponibles para las fechas seleccionadas.
            </div>
        {% endif %}
    </div>

<!-- Tarjeta de propiedad seleccionada -->
<div class="col-md-4" class="card property-card" id="propertyCard">
    <div  style="position: sticky; top: 20px;">
        <div class="card-header">
            Propiedad Seleccionada
        </div>
        <div class="card-body">
            <h5 class="card-title" id="cardPropiedad">Ficha: </h5>
            <h5 class="card-title" id="cardDireccion">Dirección: </h5>
            <p class="card-text" id="cardPropietario">Propietario: </p>
            <p class="card-text" id="cardDisponibilidad">Disponibilidad: </p>
            <p class="card-text" id="cardPrecio">Precio: </p>
        </div>
        <div class="card-footer" id="cardButtons">
            <!-- Los botones se insertarán aquí dinámicamente -->
        </div>
    </div>
</div>



<!-- Modal Confirmar Reserva -->
<div class="modal fade" id="modalConfirmarReserva" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Confirmar Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Propiedad:</strong> <span id="propiedadDireccion"></span></p>
             
                <p><strong>Fecha de inicio:</strong> <span id="fechaInicio"></span></p>
                <p><strong>Fecha de fin:</strong> <span id="fechaFin"></span></p>
                <p><strong>Total de días:</strong> <span id="totalDias"></span></p>
                <p><strong>Precio total:</strong> <span id="precioTotal"></span> </p>

                
                <p><strong>Vendedor:</strong>
                    <select id="vendedor" name="vendedor" class="form-control">
                        {% for vendedor in vendedores %}
                            <option value="{{ vendedor.id }}">{{ vendedor.nombre_completo_vendedor  }}</option>
                        {% empty %}
                            <option value="">No hay vendedores disponibles</option>
                        {% endfor %}
                    </select>
                </p>

                <p><strong>Cliente:</strong>
                    <select id="inquilino" name="cliente" class="form-control">
                        {% for inquilino in inquilinos %}
                            <option value="{{ inquilino.id }}">{{ inquilino.nombre_completo_inquilino  }}</option>
                        {% empty %}
                            <option value="">No hay inquilinos disponibles</option>
                        {% endfor %}
                    </select>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form id="confirmar-reserva-form" method="post" action="{% url 'inmobiliaria:confirmar_reserva' %}">
                    {% csrf_token %}
                    <input type="hidden" name="propiedad_id" id="modalPropiedadId">
                    <input type="hidden" name="fecha_inicio" id="modalFechaInicio">
                    <input type="hidden" name="fecha_fin" id="modalFechaFin">
         
                    <input type="hidden" name="cliente" id="modalCliente">
                    <input type="hidden" name="vendedor" id="modalVendedor">
                    <input type="hidden" name="precio_total" id="modalPrecioTotal"> <!-- Nuevo campo oculto -->
                    <button type="submit" class="btn btn-primary">Confirmar Reserva</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Autenticación del Vendedor -->
<div class="modal fade" id="modalAutenticacionVendedor" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Autenticación del Vendedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formAutenticacionVendedor">
                    <div class="form-group">
                        <label for="usuarioVendedor">Usuario:</label>
                        <input type="text" class="form-control" id="usuarioVendedor" required>
                    </div>
                    <div class="form-group">
                        <label for="contrasenaVendedor">Contraseña:</label>
                        <input type="password" class="form-control" id="contrasenaVendedor" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="autenticarYFinalizar()">Autenticar y Finalizar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modales para ver detalles de la propiedad -->
{% for propiedad in propiedades_disponibles %}
<div class="modal fade" id="modalDetalles{{ propiedad.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Detalles de la Propiedad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Carrusel de imágenes -->
                <div id="carouselPropiedad{{ propiedad.id }}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="col-md-6 text-center">
                            {% if propiedad.imagenes.all %}
                                <div id="carouselExampleControls" class="carousel slide">
                                    <div class="carousel-inner">
                                        {% for imagen in propiedad.imagenes.all %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <img src="{{ imagen.imagen.url }}" class="d-block w-100" alt="Imagen de la propiedad">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            {% else %}
                                <p>No hay imágenes disponibles.</p>
                            {% endif %}
                    </div>
                    <!-- Controles para mover entre imágenes -->
                  
                </div>

                <!-- Detalles de la propiedad -->
                <p><strong>Dirección:</strong> {{ propiedad.direccion }}</p>
                <p><strong>Piso:</strong> {{ propiedad.piso }}</p>
                <p><strong>Departamento:</strong> {{ propiedad.dpto }}</p>
                <p><strong>Tipo de Inmueble:</strong> {{ propiedad.tipo_inmueble }}</p>
                <p><strong>Ambientes:</strong> {{ propiedad.ambientes }}</p>
                <p><strong>Valoración:</strong> {{ propiedad.valoracion }}</p>
                <p><strong>Características:</strong> {{ propiedad.caracteristicas }}</p>
                <p><strong>Precio por Día:</strong> {{ propiedad.precio_total_reserva }}</p>
                <p><strong>Propietario:</strong> {{ propiedad.propietario }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<script>
    // Función para mostrar y ocultar filtros
    function mostrarOcultarFiltros() {
        const filtros = document.getElementById("filtros-completos");
        const resetBoton = document.getElementById("reset-filtros");
        
        if (filtros.style.display === "none") {
            filtros.style.display = "block";
            resetBoton.style.display = "inline-block"; // Mostrar el botón de reset
        } else {
            filtros.style.display = "none";
            resetBoton.style.display = "none"; // Ocultar el botón de reset
        }
    }

    // Función para restablecer filtros
    function resetearFiltros() {
        document.getElementById("buscar-propiedades-form-dia").reset(); // Reiniciar el formulario
        mostrarOcultarFiltros(); // Ocultar los filtros
    }
    let selectedRowIndex = -1;
    function seleccionarPropiedad(direccion, propietario, disponibilidad, precio, id, fechaInicio, fechaFin, estadoReserva, reserva_id) {
    console.log('El estado de la reserva es', estadoReserva);
    console.log('El ID de la reserva es', reserva_id);

    const row = event.currentTarget;
    const rows = document.querySelectorAll('#propiedadesTable tbody tr');
    rows.forEach(r => r.classList.remove('table-active'));

    row.classList.add('table-active');
    selectedRowIndex = parseInt(row.dataset.index);
    document.getElementById("cardDireccion").innerText = "Dirección: " + direccion;
    document.getElementById("cardPropietario").innerText = "Propietario: " + propietario;
    document.getElementById("cardDisponibilidad").innerText = "Disponibilidad: " + disponibilidad;
    document.getElementById("cardPrecio").innerText = "Precio: " + precio;
    document.getElementById("cardPropiedad").innerText = "Ficha: " + id;

    const propertyCard = document.getElementById("propertyCard");
    const cardButtons = document.getElementById("cardButtons");

    // Limpiar el contenido anterior de los botones
    cardButtons.innerHTML = '';

    // Remover todas las clases de estado previas
    propertyCard.classList.remove('card-confirmada');

    if (estadoReserva === 'confirmada_no_pagada' && reserva_id) {
        console.log('Entrando en la condición para mostrar el botón Finalizar');
        propertyCard.classList.add('card-confirmada');
        cardButtons.innerHTML = `
            <button type="button" class="btn btn-sm btn-success" onclick="mostrarModalAutenticacion(${reserva_id})">Finalizar</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetalles${id}">Ver</button>
        `;
    } else {
        cardButtons.innerHTML = `
            <button type="button" class="btn btn-primary" onclick="confirmarReserva()">Reservar</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetalles${id}">Ver</button>
        `;
    }

    // Forzar un repintado del DOM
    void propertyCard.offsetWidth;

    // Guarda las fechas para usarlas más tarde
    window.fechaInicioSeleccionada = fechaInicio;
    window.fechaFinSeleccionada = fechaFin;
}
function confirmarReserva() {
    const ficha = document.getElementById("cardPropiedad").innerText.split(": ")[1]; // Extraer el ID
    const direccion = document.getElementById("cardDireccion").innerText.split(": ")[1];
    const propietario = document.getElementById("cardPropietario").innerText.split(": ")[1];
    const disponibilidad = document.getElementById("cardDisponibilidad").innerText.split(": ")[1];
    const precio = document.getElementById("cardPrecio").innerText.split(": ")[1];

    const fechaInicio = window.fechaInicioSeleccionada;
    const fechaFin = window.fechaFinSeleccionada;

    // Verifica si los valores se obtienen correctamente
    console.log("ID Propiedad:", ficha);
    console.log("Dirección:", direccion);
    console.log("Propietario:", propietario);
    console.log("Disponibilidad:", disponibilidad);
    console.log("Precio por Día:", precio);
    console.log("Fecha Inicio:", fechaInicio);
    console.log("Fecha Fin:", fechaFin);

    // Lógica de confirmación
    const confirmacion = confirm(`¿Está seguro de que desea reservar esta propiedad en ${direccion} por ${precio}?`);
    if (confirmacion) {
        mostrarModalReserva(ficha, direccion, propietario, disponibilidad, precio, fechaInicio, fechaFin);
    }
}
function mostrarModalReserva(ficha, direccion, propietario, disponibilidad, precio,fechaInicio, fechaFin) {
    document.getElementById("propiedadDireccion").textContent = direccion;
    document.getElementById("fechaInicio").textContent = fechaInicio;
    document.getElementById("fechaFin").textContent = fechaFin;

    const fechaInicioObj = new Date(fechaInicio);
    const fechaFinObj = new Date(fechaFin);
    const diffTime = Math.abs(fechaFinObj - fechaInicioObj);
    const totalDias = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

    document.getElementById("totalDias").textContent = totalDias;
    document.getElementById("precioTotal").textContent = precio;

    document.getElementById("modalPropiedadId").value = ficha;
    document.getElementById("modalFechaInicio").value = fechaInicio;
    document.getElementById("modalFechaFin").value = fechaFin;
    document.getElementById("modalPrecioTotal").value = precio;

    $('#modalConfirmarReserva').modal('show');
}  
function cancelarReserva(reservaId) {
        // Aquí puedes implementar la lógica para cancelar la reserva
        console.log("Reserva cancelada: " + reservaId);
    }

    // Validación del formulario antes de enviarlo
    document.getElementById("buscar-propiedades-form-dia").addEventListener("submit", function(event) {
        const fechaInicio = new Date(document.getElementById("id_fecha_inicio").value);
        const fechaFin = new Date(document.getElementById("id_fecha_fin").value);

        if (fechaInicio >= fechaFin) {
            alert("La fecha de inicio debe ser anterior a la fecha de fin.");
            event.preventDefault(); // Prevenir el envío del formulario
        }
    });
    document.getElementById('confirmar-reserva-form').addEventListener('submit', function(event) {
    // Obtener los valores de vendedor e inquilino seleccionados
    const vendedorSeleccionado = document.getElementById('vendedor').value;
    const clienteSeleccionado = document.getElementById('inquilino').value;

    // Pasar los valores seleccionados a los campos ocultos del formulario
    document.getElementById('modalVendedor').value = vendedorSeleccionado;
    document.getElementById('modalCliente').value = clienteSeleccionado;
    const precio = document.getElementById('precio_total').value;
    document.getElementById('modalPrecioTotal').value = clienteSeleccionado;

 
});
document.addEventListener('keydown', function(event) {
    const rows = document.querySelectorAll('#propiedadesTable tbody tr');
    let newIndex = selectedRowIndex;

    if (event.key === 'ArrowUp') {
        newIndex = Math.max(0, selectedRowIndex - 1);
    } else if (event.key === 'ArrowDown') {
        newIndex = Math.min(rows.length - 1, selectedRowIndex + 1);
    } else {
        return; // Si no es una tecla de flecha, no hacemos nada
    }

    if (newIndex !== selectedRowIndex) {
        event.preventDefault(); // Prevenir el desplazamiento de la página
        const newRow = rows[newIndex];
        newRow.click(); // Simular un clic en la nueva fila
        newRow.scrollIntoView({behavior: 'smooth', block: 'nearest'}); // Asegurar que la fila sea visible
    }
});
function mostrarModalAutenticacion(reservaId) {
    window.reservaIdActual = reservaId; // Guardar el ID de la reserva para usarlo después
    $('#modalAutenticacionVendedor').modal('show');
}

function autenticarYFinalizar() {
    var usuario = document.getElementById('usuarioVendedor').value;
    var contrasena = document.getElementById('contrasenaVendedor').value;
    var reservaId = window.reservaIdActual; // Usar el ID guardado

    // Enviar los datos a través de AJAX
    $.ajax({
        url: '{% url "inmobiliaria:autenticacion_vendedor" %}',
        type: 'POST',
        data: {
            'username': usuario,
            'password': contrasena,
            'reserva_id': reservaId,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(response) {
            if (response.success) {
                alert('Autenticación exitosa. Finalizando operación...');
                window.location.href = '{% url "inmobiliaria:finalizar_reserva" 0 %}'.replace('0', reservaId);
            } else {
                alert('Credenciales incorrectas, por favor intente de nuevo.');
            }
        },
        error: function(xhr, status, error) {
            alert('Ocurrió un error en el servidor. Por favor, intente de nuevo.');
        }
    });
}
// Seleccionar la primera fila al cargar la página
window.addEventListener('load', function() {
    const firstRow = document.querySelector('#propiedadesTable tbody tr');
    if (firstRow) {
        firstRow.click();
    }
});
</script>
<script type="text/javascript">
    // Configurar CSRF para todas las solicitudes AJAX
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>


{% endblock %}
