<div style="height: 94%; width: 100%; border-color: #2d8524; border-width: 1px; border-style: solid;">
    <div style="height: 25%; width: 100%; border-color: #2d8524; border-width: 1px; border-style: solid; display: flex; flex-direction: row; justify-content: space-between;">
        <div style="height: 100%; width: 33%; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
            {% comment %} <img src="{% static 'inmobiliaria/img/logo.png' %}" alt="logo" style="height: 40%; width: 60%; margin-top: 0%;"> {% endcomment %}
            <p style="margin: 0;"> de Nestor Oscar Gonnet</p>
            <p style="margin: 0;">Corrientes 1987</p>
            <p style="margin: 0;">(B7600EBO) Mar del Plata - Prov. de Bs. As.</p>
            <p style="margin: 0;">http://www.gonnet.com.ar</p>
            <p style="margin: 0;">email: info@gonnet.com.ar</p>
        </div>
        <div style="height: 100%; width: 33%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center;">
            {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" id="x" style="display: block; margin-top: 20px;margin-left:37%">
                <g fill="none" fill-rule="evenodd" stroke="#2d8524" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 1)">
                    <rect width="70" height="70" rx="2"></rect>
                    <path d="M15 15 L55 55 M55 15 L15 55"></path>
                </g>
            </svg> {% endcomment %}
            <h1 style="margin-top: 0px;">RECIBO</h1>
            
            <p style="margin: 0;">DOCUMENTO NO VALIDO COMO FACTURA</p>
        </div> 
        <div style="height: 100%; width: 33%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center;">
            <div style="width: 80%; text-align: left;">
                <h1 style="margin: 0;">Nº: 0007-567890</h1>    
                <h2 style="margin: 0;">Fecha: <u>&nbsp;&nbsp;&nbsp;01&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;01&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;2024&nbsp;&nbsp;&nbsp;</u></h2>
                <h2 style="margin: 0;">Hora: &nbsp;&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;12:00&nbsp;&nbsp;&nbsp;&nbsp;</u></h2>
                <p style="margin: 0;">IVA : RESPONSABLE INSCRIPTO</p>
                <p style="margin: 0;">CUIT: 20-10757572-4</p>
                <p style="margin: 0;">ING. BRUTOS: 20-10757572-4</p>
                <!-- <p style="margin: 0;">JUB: 60620856 C.P.S.M.C.P.P.B.A Ley 7014</p> -->
                <p style="margin: 0;">INSC: 120609/8 REG. 1572</p>
                <p style="margin: 0;">INICIO ACTIVIDAD: 01/01/1977</p>
            </div>
        </div>
    </div>
    <div style="height: 5%; width: 100%; border-color: #2d8524; border-width: 1px; border-style: solid; display: flex; flex-direction: row; align-items: center;">
        <div style="width: 63%; margin-left: 6%;">
            <h4 style="margin: 0;">OPERACION: <u>&nbsp;&nbsp;&nbsp;9830&nbsp;&nbsp;&nbsp;</u></h4>
        </div>
    </div>
    <div style="height: 15%; width: 100%; border-color: #2d8524; border-width: 1px; border-style: solid; display: flex; flex-direction: row; justify-content: space-between;">
   
     
        <div style="height: 100%; width: 63%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center;">
            <div style="width: 80%; text-align: left; margin-top: 10px;">
                <h4 style="margin: 0;">CLIENTE: </h4>    
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">NOMBRE:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">DOMICILIO:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">LOCALIDAD:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">IVA:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
            </div>
        </div>

        <div style="height: 100%; width: 36%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center;">
            <div style="width: 80%; text-align: left; margin-top: 10px;">
                <h4 style="margin: 0; color: transparent;">CLIENTE: </h4>    
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">D.N.I:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">TEL:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">PROVINCIA:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">C.U.I.T:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 15%; width: 100%; border-color: #2d8524; border-width: 1px; border-style: solid; display: flex; flex-direction: row; justify-content: space-between;">
   
     
        <div style="height: 100%; width: 63%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center;">
            <div style="width: 80%; text-align: left; margin-top: 10px;">
                <h4 style="margin: 0;">PROPIEDAD: </h4>    
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">DIRECCION:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">COMODIDADES:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">AMOBLADO PARA:</span>
                    <div style="flex-grow: 1; border-bottom: 1px dotted black;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">WIFI:</span>
                    <div style="border-bottom: 1px dotted black; width: 50px;">&nbsp;</div>
                    <span style="min-width: 120px; margin-left: 20px;">COCHERA:</span>
                    <div style="border-bottom: 1px dotted black; width: 50px;">&nbsp;</div>
                    <span style="min-width: 120px; margin-left: 20px;">PILETA:</span>
                    <div style="border-bottom: 1px dotted black; width: 50px;">&nbsp;</div>
                </div>
            </div>
        </div>

        <div style="height: 100%; width: 36%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; text-align: center;">
            <div style="width: 80%; text-align: left; margin-top: 10px;">
                <h2 style="margin: 0; color: transparent;">CLIENTE: </h2>    
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">FICHA:</span>
                    <div style="border-bottom: 1px dotted black; width: 50px;">&nbsp;</div>
                    <span style="min-width: 120px; margin-left: 20px;">LLAVE:</span>
                    <div style="border-bottom: 1px dotted black; width: 50px;">&nbsp;</div>
                </div>
                <div style="display: flex; align-items: center; margin: 5px 0;">
                    <span style="min-width: 120px;">PISO:</span>
                    <div style="border-bottom: 1px dotted black; width: 50px;">&nbsp;</div>
                    <span style="min-width: 120px; margin-left: 20px;">DPTO:</span>
                    <div style="border-bottom: 1px dotted black; width: 50px;">&nbsp;</div>
                </div>
              
            </div>
        </div>
    </div>

    <div style="width: 100%; border-color: #2d8524; border-width: 1px; border-style: solid;">
        <!-- Tabla de conceptos -->
        <div style="width: 100%; display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between; border-bottom: 1px solid #2d8524;">
                <div style="display: flex; flex-wrap: wrap; width: 72%;">
                    <div style="width: 18%; height: 100%; border-right: 1px solid #2d8524; border-bottom: 1px solid #2d8524; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <h3 style="margin: 0; width: 100%;">Precio</h3>
                        <div style="border-bottom: 1px solid #2d8524; height: 1px; width: 100%;"></div>
                        <h3 style="margin: 0; width: 100%;">Seña</h3>
                    </div>
                    <div style="width: 18%; height: 100%; border-right: 1px solid #2d8524; border-bottom: 1px solid #2d8524; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <h3 style="margin: 0; width: 100%;">SEÑA</h3>
                        <div style="border-bottom: 1px solid #2d8524; height: 1px; width: 100%;"></div>
                        <h3 style="margin: 0; width: 100%;">Seña</h3>
                    </div>
                    <div style="width: 18%; height: 100%; border-right: 1px solid #2d8524; border-bottom: 1px solid #2d8524; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <h3 style="margin: 0; width: 100%;">SALDO</h3>
                        <div style="border-bottom: 1px solid #2d8524; height: 1px; width: 100%;"></div>
                        <h3 style="margin: 0; width: 100%;">Seña</h3>
                    </div>
                    <div style="width: 18%; height: 100%; border-right: 1px solid #2d8524; border-bottom: 1px solid #2d8524; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <h3 style="margin: 0; width: 100%;">DEPOSITO GARANTIA</h3>
                        <div style="border-bottom: 1px solid #2d8524; height: 1px; width: 100%;"></div>
                        <h3 style="margin: 0; width: 100%;">Seña</h3>
                    </div>
                  
                </div>

                <div style="width: 28%; text-align: right; padding: 10px;">
                    <h3 style="margin: 0;">DESDE: _______________ HORA: 14:00 HS.</h3>
                    <h3 style="margin: 0;">HASTA: _______________ HORA: 09:00 HS.</h3>
                </div>
            </div>
            
            <!-- Encabezados, de la tabla -->
             <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; border: 1px solid #2d8524;width: 80%;">
                <div style="width: 15%; padding: 5px; border-right: 1px solid transparent;margin-left: 5%;">FECHA</div>
                <div style="width: 15%; padding: 5px; border-right: 1px solid transparent;margin-left: 10px;">CÓDIGO</div>
                <div style="width: 55%; padding: 5px; border-right: 1px solid transparent;margin-left: 10px;">CONCEPTO</div>
              
            </div>
            <div style="display: flex; border-bottom: 1px solid #2d8524;width: 20%; justify-content: center;">
                <div style="width: 15%; padding: 5px; border-right: 1px solid transparent;">IMPORTE</div>
               
              
            </div>
            </div>
            
            <!-- Espacio para conceptos -->
            <div style="display: flex; justify-content: space-between; border: 1px solid #2d8524;">
                <div style="display: flex; border-right: 1px solid #2d8524;width: 80%;">
                
                  
                </div>
                <div style="display: flex; width: 20%; justify-content: center;border-left: 1px solid #2d8524;">
                    <div style="width: 15%; padding: 5px; border-right: 1px solid transparent;">220.200</div>
                   
                  
                </div>
               

                
        </div>
            
        <div style="display: flex; justify-content: space-between; height: 200px;">
            <div style="display: flex; flex-direction: column; width: 70%; height: 100%;border-bottom: 1px solid transparent;">
                <p style=" margin-left: 10%;">SR.TURISTA: Si no se presentara a abonar el saldo de locación en la fecha estipulada <br> 
                perdera en favor del propietario los importes entregados en este acto. Abonara en <br> 
                efectivo cualquier faltante de inventario, roturas, limpieza, etc. al desocupar la propiedad. <br> 
                La presente seña se recibe ad referendum del propietario.</p>
                
                <p style="margin-top: 20px; margin-left: 10%;">"Orientación al Consumidor Provincia de Buenos Aires 0800-222-9042"</p>
            </div>
            
           
                <!-- Columna de textos -->
                <div style="display: flex; flex-direction: column; width: 10%;height: 100%;">
                    <div style="padding: 5px; border-bottom: 1px solid #2d8524; border-left: 1px solid #2d8524;height: 33%;display: flex; justify-content: center; align-items: center;">
                        <span>SUBTOTAL</span>
                    </div>
                    <div style="padding: 5px;height: 33%;border-bottom: 1px solid #2d8524; border-left: 1px solid #2d8524;display: flex; justify-content: center; align-items: center;">
                        <span>&nbsp;</span> 
                    </div>
                    <div style="padding: 5px; border-bottom: 1px solid #2d8524;height: 33%;border-left: 1px solid #2d8524;display: flex; justify-content: center; align-items: center;">
                        <span>TOTAL</span>
                    </div>
                    
                </div>
                
                <!-- Columna de valores -->
                <div style="display: flex; flex-direction: column; border: 1px solid #2d8524; width: 20%;height: 100%;">
                    <div style="padding: 5px; border-bottom: 1px solid #2d8524; border-left: 1px solid #2d8524;height: 33%;display: flex; justify-content: center; align-items: center;">
                        <span>22.000</span>
                    </div>
                    <div style="padding: 5px;height: 33%;border-bottom: 1px solid #2d8524; border-left: 1px solid #2d8524;display: flex; justify-content: center; align-items: center;">
                        <span>XXXXXXXXXX</span>
                    </div>
                    <div style="padding: 5px; border-bottom: 1px solid #2d8524; border-left: 1px solid #2d8524;height: 33%;display: flex; justify-content: center; align-items: center;">
                        <span>250.000,00</span>
                    </div>
                 
                </div>
            
        </div>
            <!-- Totales -->
       

            <!-- Texto orientación -->
            <div style="padding: 10px;"></div>
                <p style="margin: 0; font-style: italic; color: transparent ;">"Orientación al Consumidor Provincia de Buenos Aires 0800-222-9042"</p>
            </div>

            <!-- La suma de -->
            <div style="padding: 10px; border-top: 1px solid #2d8524;">
                <p style="margin: 0;">LA SUMA DE:</p>
                <div style="border-bottom: 1px dotted black; height: 30px;"></div>
            </div>

            <!-- Forma de pago -->
            <div style="padding: 10px; border-top: 1px solid #2d8524;">
                <p style="margin: 0;">FORMA DE PAGO:</p>
                <div style="border-bottom: 1px dotted black; height: 30px;"></div>
            </div>

            <!-- Texto legal -->
            <div style="padding: 10px; font-size: 0.8em;">
                <p style="margin: 0;">Para el caso que por cualquier motivo no se acredite en tiempo y forma el importe de la presente tarjeta de credito o cheque, el titular de la misma se hace responsable de abonar en efectivo dicha suma a Gonnet propiedades.</p>
                <p style="margin: 0;">El presente recibo carece de valor cancelatorio hasta tanto se acredite la totalidad de los valores entregados en este acto.</p>
            </div>

            <!-- Firmas -->
            <div style="display: flex; justify-content: space-between; padding: 20px; margin-top: 20px;">
                <div style="text-align: center; width: 200px;">
                    <div style="border-top: 1px solid #2d8524;"></div>
                    <p style="margin: 0;">FIRMA</p>
                </div>
                <div style="text-align: center; width: 200px;">
                    <div style="border-top: 1px solid #2d8524;"></div>
                    <p style="margin: 0;">ACLARACION</p>
                </div>
                <div style="text-align: center; width: 200px;">
                    <div style="border-top: 1px solid #2d8524;"></div>
                    <p style="margin: 0;">P/GONNET PROPIEDADES</p>
                </div>
            </div>

            <!-- Pie de página -->
            <div style="display: flex; justify-content: space-between; padding: 10px; font-size: 0.8em; border-top: 1px solid #2d8524;">
                <div>
                    <p style="margin: 0;">Impresión:</p>
                    <p style="margin: 0;">Mayo de 2024</p>
                    <p style="margin: 0;">Numeración impresa:</p>
                    <p style="margin: 0;">0007 del 00041001 al 00043000</p>
                </div>
                <div style="text-align: right;">
                    <p style="margin: 0;">ORIGINAL BLANCO</p>
                    <p style="margin: 0;">DUPLICADO COLOR</p>
                    <p style="margin: 0;">TRIPLICADO BLANCO</p>
                </div>
            </div>
        </div>
    </div>
</div>
  
