{% load custom_filters %}
<div class="row mb-4">
    <div class="col-md-6">
        <div class="info-box bg-success text-white mb-0">
            <div class="info-box-icon">
                <i class="fas fa-plus-circle"></i>
            </div>
            <div class="info-box-content">
                <span class="info-box-text">Total comisiones (sucursal)</span>
                <span class="info-box-number">${{ total_comisiones_sucursal|format_price }}</span>
                <small>{{ total_ops_comisiones }} operaciones</small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="info-box bg-info text-white mb-0">
            <div class="info-box-icon">
                <i class="fas fa-calendar-month"></i>
            </div>
            <div class="info-box-content">
                <span class="info-box-text">Comisiones este mes</span>
                <span class="info-box-number">${{ comisiones_mes_sucursal|format_price }}</span>
                <small>{{ cant_ops_mes }} operaciones</small>
            </div>
        </div>
    </div>
</div>
