<!-- inmobiliaria/templates/inmobiliaria/vendedores/detalle.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedor Detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Vendedor Details</h1>
        <a href="{% url 'inmobiliaria:vendedor_editar' vendedor.id %}">Edit</a>
        <a href="{% url 'inmobiliaria:vendedor_eliminar' vendedor.id %}">Delete</a>
    </header>
    <main>
        <p>Name y Apellido: {{ vendedor.nombre }} {{ vendedor.apellido }}</p>
        <p>DNI: {{ vendedor.dni }}</p>
        <p>Fecha Nacimiento: {{ vendedor.fecha_nacimiento }}</p>
        <p>Email: {{ vendedor.email }}</p>
        <p>Celular: {{ vendedor.celular }}</p>
        <p>Details: {{ vendedor.observaciones }}</p>
    </main>
</body>
</html>
