<!-- File: inmobiliaria/templates/inmobiliaria/vendedores/formulario.html -->
{% extends 'inmobiliaria/base.html' %}
{% load bootstrap4 %}

{% block title %}{% if vendedor %}Editar{% else %}Nuevo{% endif %} Vendedor{% endblock %}

{% block content %}
<h1 class="mb-4">{% if vendedor %}Editar{% else %}Nuevo{% endif %} Vendedor</h1>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'inmobiliaria:vendedores' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}