<!-- inmobiliaria/templates/inmobiliaria/vendedores/lista.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedores - List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Vendedores List</h1>
        <a href="{% url 'inmobiliaria:vendedor_nuevo' %}">Add New Vendedor</a>
    </header>
    <main>
        <ul>
            {% for vendedor in vendedores %}
                <li>
                    <a href="{% url 'inmobiliaria:vendedor_detalle' vendedor.id %}">{{ vendedor.nombre}} {{vendedor.apellido}}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
